.book-row {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  border-bottom: 1px solid rgba( 0, 0, 0, .1);
  @include media-breakpoint-up(md) {
    flex-direction: row;
    flex: 1 1 auto;
    max-width: 100%;
  }
}

.book-row-id {
  width: 20px;
  font-size: 22px;
  padding: 5px;
  @include media-breakpoint-up(md) {
    width: 30px;
    padding-right: 10px;
  }
}

.book-row-name {
  color: $dark-text;
  font-size: 22px;
  padding: 5px;
  @include media-breakpoint-up(md) {
    width: 500px;
    padding-right: 10px;
  }
  @include media-breakpoint-up(lg) {
    width: 800px;
  }
}

.book-row-edit {
  width: 100px;
  padding: 5px;
  .btn {
    min-width: 150px;
  }
}

